a {
    
}
.border {
    width:208px;
    height:54px;
    border-radius: 16px;
    padding:3px;
    border:2px solid black;
}

.first_slice {
    width:206px;
    height: 52px;
    background-color:grey;
    border-radius:15px;
    border:1px solid silver;
}

/*.second_slice {
    position:relative;
    top:4px;
    border-radius:10px;
    left:4px;
    width:206px;
    height:52px;
    background-color:#000;
}*/

.front {
    position:relative;
    background-color:silver;
    top:3px;
    left:3px;
    width: 196px;
    height: 42px;
    border-radius:5px;
    color: black;
    text-decoration:none;
    text-align:center;
    font-size:20px;
    
    box-shadow: 3px 5px black;
    
}

.front:hover {
    background-color:red;
}
.text{
    position:relative;
    bottom:4px;
}

img {
    position:relative;
    top:7px;
}

